<template>
  <div>
    <Navbar/>
    <Sidebar class="sidebar"></Sidebar>
    <nuxt/>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Sidebar from '~/components/Sidebar.vue'

export default {
    components : {
        Sidebar,
        Navbar
    }
}
</script>