<template>
  <section>
    <div class="c-content">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <!-- filterSearch -->
        </div>
        <div class="p-2 bd-highlight">
          <!-- <product-filter @update-filter='filter($event)' />
          <Search @search-change="search($event)"></Search> -->
          <!-- <input @change="search" v-model="keyword"> -->
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div v-for="product in products" v-bind:key="product.key">
          <Container :id="product.id" :thumbnail="product.images" :title="product.name" :price="product.price.price_zone_A" status="draft" :checkbox="false"></Container>
        </div>
      </div>
      <Pagination class="pagination" :currentPage="currentPage" :totalPage="Math.ceil(hitCount/limit)" :onClick="changePage"/>
    </div>
    <div class="fakefooter" />
    <div class="footer">
      <div>
        <Button :onClick="selesaiFn">SELESAI</Button>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '~/components/Button.vue'
import Container from '~/components/Container.vue'
import Pagination from '~/components/Pagination.vue'
import Search from '~/components/Search.vue'
import ProductFilter from '~/components/ProductFilter.vue'

export default {
  layout: 'dashboard',
  data() {
    return {
      selectedFile: null,
    }
  },
  async fetch ({ store, route}) {
    await store.commit('product/SET_UPLOAD_ID', route.params.id)
    return store.dispatch('product/FETCH_PRODUCTS_BY_UPLOAD_ID')
  },
  components: {
    Button,
    Container,
    Search,
    Pagination,
    ProductFilter
  },
  computed: {
    products () { return this.$store.state.product.list },
    currentPage () { return this.$store.state.product.currentPage },
    hitCount () { return this.$store.state.product.hitCount },
    limit () { return this.$store.state.product.limit }
  },
  methods: {
    selesaiFn() {
      this.$router.replace({ 'path': '/product/browse' })
    },
    filter(filters) {
      console.log('test')
      this.$store.dispatch('product/SET_DISPLAY_FILTERS', {filter: filters})
      console.log(this.$store.state.product.filters)
      this.$store.dispatch('product/FETCH_PRODUCTS_BY_UPLOAD_ID')
      console.log("jalan")
    }, 
    changePage(page) {
      this.$store.dispatch('product/SET_PAGINATION', {offset: (page-1)*this.$store.state.product.limit, page: page});
      this.$store.dispatch('product/FETCH_PRODUCTS_BY_UPLOAD_ID')
    },
    search(keyword) {
      this.$store.dispatch('product/SET_SEARCH_KEYWORD', {keyword: keyword})
      this.$store.dispatch('product/FETCH_PRODUCTS_BY_UPLOAD_ID')
    }
  }
}
</script>

<style>
.button-wrapper Button {
  width: 300px;
}
</style>
