<template>
  <section>

    <Navbar/>

    <Sidebar/>

    <div class="c-content container-fluid">
      <div class="row">
        <!-- Kiri -->
        <div class="col p-container-left">
          <div class="form-group">
            <label for="nama">Nama Katalog:</label>
            <input type="text" class="form-control" id="nama" @change="updateName" :value="catalogName">
          </div>

          <div class='form-group form-tanggal'>
            <label for="date">Tanggal Berlaku:</label>
            <div class="date-container">
              <Datepicker class="date-picker" :minimumView="'month'" :maximumView="'year'" :initialView="'year'" :format="'MMMM yyyy'" :language="'id'" v-model="startTime" v-on:selected="disableTo" :disabled="disabledFrom" :placeholder="startDate | moment"></Datepicker>
              <label> s/d </label>
              <Datepicker class="date-picker" :minimumView="'month'" :maximumView="'year'" :initialView="'year'" :format="'MMMM yyyy'" :language="'id'" v-model="endTime" v-on:selected="disableFrom" :disabled="disabledTo" :placeholder="endDate | moment"></Datepicker>
            </div>
          </div>

          <div>
            <label>Produk-produk</label>
            <ProductAccordion :categories="catalogProducts" :funct="dismissData"></ProductAccordion>
            <!-- {{ catalogProducts }} -->
          </div>
        </div>

        <!-- Kanan -->
        <div class="col p-container-right">
          <Search @search-change="search($event)"/>
          <div class="overflow-container">
            <div class="d-flex flex-wrap">
              <div v-for="product in products" v-bind:key="product.key">
                <Container :id="product.id" :thumbnail="product.image" :title="product.name" :price="product.price.price_zone_A" :isActive="product.is_active" :isDeleted="product.is_deleted" :isDraft="product.is_draft" :clickFunct="getParent" :checkbox='true' :isTicked="checkTick(product.id)" :disableDetail="true"></Container>
              </div>
              <Pagination class="pagination" :currentPage="currentPage" :totalPage="Math.ceil(hitCount/limit)" :onClick="changePage"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fakefooter" />
    <div class="footer">
      <Button class="orange" :onClick="cancel">Cancel</Button>
      <Button class="green" :onClick="updateCatalog">Simpan</Button>
    </div>

  </section>
</template>

<script>
import Button from '~/components/Button.vue'
import Navbar from '~/components/Navbar.vue'
import Container from '~/components/Container.vue'
import Sidebar from '~/components/Sidebar.vue'
import ProductAccordion from '~/components/ProductAccordion.vue'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import Search from '~/components/Search.vue'
import Pagination from '~/components/Pagination.vue'

export default {
  async fetch ({ store, params }) {
    await store.dispatch('product/FETCH_ALL_PRODUCT')
    await store.dispatch('catalog/GET_CATALOG_BY_ID', params.id)
  },
  components: {
    Button,
    Navbar,
    Container,
    Sidebar,
    ProductAccordion,
    Datepicker,
    Search,
    Pagination
  },
  data() {
    return {
      startTime: null,
      endTime: null,
      disabledTo: {},
      disabledFrom: {},
      routes: {
        back: {
          href: '/catalog/browse/'
        }
      },
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM YYYY')
    }
  },
  computed: {
    products () {
      return this.$store.state.product.list
    },
    catalogProducts () {
      return this.$store.state.catalog.products
    },
    catalogID () {
      return this.$store.state.catalog.active["id"]
    },
    catalogName () {
      return this.$store.state.catalog.active.name
    },
    startDate () {
      return this.$store.state.catalog.active.start_time
    },
    endDate () {
      return this.$store.state.catalog.active.end_time
    },
    currentPage () { return this.$store.state.product.currentPage },
    hitCount () { return this.$store.state.product.hitCount },
    limit () { return this.$store.state.product.limit }
  },
  methods: {
    getParent(e) {
      var itemid = e.target.id
      var obj = this.$store.state.product.list.filter((prod) => prod.id == itemid)[0]

      for (var i = 0; i < this.catalogProducts.length; i++) {
        if (this.catalogProducts[i]['product'] == obj) {
          this.$store.dispatch('catalog/REMOVE_PRODUCT', i)
          return
        }
      }
      this.$store.dispatch('catalog/ADD_PRODUCT', obj)
    },
    checkTick(id) {
      var obj = this.$store.state.catalog.products.filter((tuple) => tuple.product.id == id)
      return obj.length == 1
    },
    dismissData (e) {
      var itemid = e.target.parentNode.parentNode.parentNode.id
      for (var i = 0; i < this.catalogProducts.length; i++) {
        if (this.catalogProducts[i]['product'].id == itemid) {
          this.$store.dispatch('catalog/REMOVE_PRODUCT', i)
        }
      }
    },
    updateName (e) {
      this.$store.commit('catalog/SET_CATALOG_NAME', e.target.value)
    },
    updateCatalog(e) {
      var catalog = {}
      catalog.id = this.catalogID
      catalog.name = this.catalogName
      catalog.start_time = this.startTime
      catalog.end_time = this.endTime

      const reducer = function (acc, {category, product}) {
        acc.push({"id":product.id})
        return acc
      }
      catalog.Products = this.catalogProducts.reduce(reducer, [])

      this.$store.dispatch('catalog/UPDATE_CATALOG', catalog)
      window.location = this.routes.back.href
      // this.$router.push({ 'path': '/catalog/browse' })
    },
    disableTo (val) {
      if (typeof this.disabledTo.to === 'undefined') {
        this.disabledTo = {
          to: null,
          from: this.disabledTo.from
        }
      }
      this.disabledTo.to = val
    },
    disableFrom (val) {
      if (typeof this.disabledFrom.from === 'undefined') {
        this.disabledFrom = {
          to: this.disabledFrom.to,
          from: null
        }
      }
      this.disabledFrom.from = val
    },
    changePage(page) {
      this.$store.dispatch('product/SET_PAGINATION', {offset: (page-1)*this.$store.state.product.limit, page: page});
      this.$store.dispatch('product/FETCH_ALL_PRODUCT')
    },
    search(keyword) {
      this.$store.dispatch('product/SET_SEARCH_KEYWORD', {keyword: keyword});
      this.$store.dispatch('product/FETCH_ALL_PRODUCT')
    },
    cancel() {
      window.location = this.routes.back.href
      // this.$router.push({ 'path': '/catalog/browse' })
    }
  },
  mounted: function() {
    this.$store.commit('catalog/SET_PRODUCTS', [])
    for (var i = 0; i < this.$store.state.catalog.active.Products.length; i++) {
      this.$store.dispatch('catalog/ADD_PRODUCT', this.$store.state.catalog.active.Products[i])
    }
  }
}
</script>

<style>

.form-control {
  width: 109%;
}
.c-content {
  margin-bottom: 10px;
}

.date-picker {
  display: inline-flex;
  width: 35%;
}

.date-picker input {
  padding: 0px;
  margin-right: 10px;
  padding-left: 10px;
}

.date-container label {
  padding-left: 60px;
  padding-right: 15px;
}

.button-wrapper Button {
  width: 300px;
}

.footer Button {
  margin-right: 20px;
}

.overflow-container {
  /* height: 700px; */
  max-height: 100%;
  overflow: auto;
}

.p-container-left , .p-container-right {
  padding: 0 60px;
}

.p-container-right {
  border-left: 3px solid var(--color-bwhite);
}

.product-card {
  width: 400px !important;
}

</style>
