<template>
    <button class="btn" v-on:click="onClick" v-bind:class="color">
        <slot></slot>
    </button>
</template>

<style>

.btn {
  color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
}

.btn :not(.btn-sm) {
    padding: 10px 28px;
}

.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
}

.orange {
    border: 2px solid var(--orange);
    background-color: var(--orange);
}

.green {
    border: 2px solid var(--green);
    background-color: var(--green);
}

.btn:focus {
  outline: 0;
}

.green:focus {
   border-color:  rgb(40, 156, 89);
}

.orange:focus {
   border-color: rgb(235, 149, 11);
}

.orange:active {
    background-color: rgb(235, 149, 11);
}

.green:active {
    background-color:  rgb(40, 156, 89);
}
</style>

<script>
export default {
  props: {
      onClick: {
        type: Function,
        default: function () { return }
      },
      color: {
        type: String,
        default: "orange"
      }
  }
}
</script>
