<template>
  <div class="card" :id="id">
    <div class="card-body" :title="title">
      <h5 class="title-name">{{ title }}
        <span class="status badge badge-primary">{{ status }}</span>
      </h5>
      <Button class="float-right" :onClick="editCatalog">EDIT</Button>
    </div>
  </div>
</template>

<script>
import Button from '../components/Button'

export default {
  data: function() {
    return {
      routes: {
        edit: {
          href: '/catalog/edit/' + this.id
        }
      },
    }
  },
  props: {
    id : {
      type: Number,
    },
    title : {
      type: String,
    },
    status : {
      type: String,
      default: 'active'
    }
  },
  components: {
    Button
  },
  methods: {
    editCatalog() {
      // this.$router.replace({ 'path': '/catalog/edit/' + this.id })
      window.location = this.routes.edit.href
    }
  }
}
</script>

<style>
.card {
  /*border: 1px solid gray; */
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
}
h5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.badge-primary {
  background-color: var(--green);
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
</style>