<template>
  <div class="pagination">
    <div v-if="totalPage == 1">
      <button class="disabled-prev" @click="onClick(currentPage-1)" :disabled="true">Prev</button>
      <button class="active" @click="onClick(currentPage)" :disabled="true">1</button>
      <button class="disabled-next" @click="onClick(currentPage+1)" :disabled="true">Next</button>
    </div>
    <div v-if="totalPage == 2 && currentPage == 1">
      <button class="disabled-prev" @click="onClick(currentPage-1)" :disabled="true">Prev</button>
      <button class="active" @click="onClick(1)" :disabled="true">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 2 && currentPage == 2">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button class="active" @click="onClick(2)" :disabled="true">2</button>
      <button class="disabled-next" @click="onClick(currentPage+1)" :disabled="true">Next</button>
    </div>
     <div v-if="totalPage == 3 && currentPage == 1">
      <button class="disabled-prev" @click="onClick(currentPage-1)" :disabled="true">Prev</button>
      <button class="active" @click="onClick(1)" :disabled="true">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 3 && currentPage == 2">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button class="active" @click="onClick(2)" :disabled="true">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 3 && currentPage == 3">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button class="active" @click="onClick(3)" :disabled="true">3</button>
      <button class="disabled-next" @click="onClick(currentPage+1)" :disabled="true">Next</button>
    </div>
    <div v-if="totalPage == 4 && currentPage == 1">
      <button class="disabled-prev" @click="onClick(currentPage-1)" :disabled="true">Prev</button>
      <button class="active" @click="onClick(1)" :disabled="true">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(4)" :disabled="false">4</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 4 && currentPage == 2">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button class="active" @click="onClick(2)" :disabled="true">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(4)" :disabled="false">4</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 4 && currentPage == 3">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button class="active" @click="onClick(3)" :disabled="true">3</button>
      <button @click="onClick(4)" :disabled="false">4</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage == 4 && currentPage == 4">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button class="active" @click="onClick(4)" :disabled="true">4</button>
      <button class="disabled-next" @click="onClick(currentPage+1)" :disabled="true">Next</button>
    </div>
    <div v-if="totalPage >= 5 && currentPage == 1">
      <button class="disabled-prev" @click="onClick(currentPage-1)" :disabled="true">Prev</button>
      <button class="active" @click="onClick(1)" :disabled="true">1</button>
      <button @click="onClick(2)" :disabled="false">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(4)" :disabled="false">4</button>
      <button @click="onClick(5)" :disabled="false">5</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage >= 5 && currentPage == 2">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(1)" :disabled="false">1</button>
      <button class="active" @click="onClick(2)" :disabled="true">2</button>
      <button @click="onClick(3)" :disabled="false">3</button>
      <button @click="onClick(4)" :disabled="false">4</button>
      <button @click="onClick(5)" :disabled="false">5</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage >= 5 && currentPage > 2 && currentPage < totalPage-1">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(currentPage-2)" :disabled="false">{{currentPage-2}}</button>
      <button @click="onClick(currentPage-1)" :disabled="false">{{currentPage-1}}</button>
      <button class="active" @click="onClick(currentPage)" :disabled="true">{{currentPage}}</button>
      <button @click="onClick(currentPage+1)" :disabled="false">{{currentPage+1}}</button>
      <button @click="onClick(currentPage+2)" :disabled="false">{{currentPage+2}}</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage >= 5 && currentPage == totalPage-1">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(currentPage-3)" :disabled="false">{{currentPage-3}}</button>
      <button @click="onClick(currentPage-2)" :disabled="false">{{currentPage-2}}</button>
      <button @click="onClick(currentPage-1)" :disabled="false">{{currentPage-1}}</button>
      <button class="active" @click="onClick(currentPage)" :disabled="true">{{totalPage-1}}</button>
      <button @click="onClick(currentPage+1)" :disabled="false">{{totalPage}}</button>
      <button @click="onClick(currentPage+1)" :disabled="false">Next</button>
    </div>
    <div v-if="totalPage >= 5 && currentPage == totalPage">
      <button @click="onClick(currentPage-1)" :disabled="false">Prev</button>
      <button @click="onClick(currentPage-4)" :disabled="false">{{currentPage-4}}</button>
      <button @click="onClick(currentPage-3)" :disabled="false">{{currentPage-3}}</button>
      <button @click="onClick(currentPage-2)" :disabled="false">{{currentPage-2}}</button>
      <button @click="onClick(currentPage-1)" :disabled="false">{{currentPage-1}}</button>
      <button class="active" @click="onClick(currentPage)" :disabled="true">{{currentPage}}</button>
      <button class="disabled-next" @click="onClick(currentPage+1)" :disabled="true">Next</button>
    </div>
  </div>
</template>

<style>
.pagination {
  padding-top: 20px;
  /*padding-right: 35%;*/
  padding-left: 35%;
}

button {
  background-color: white;
  border: 1px solid grey;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--green);
}
button.active {
  background-color: var(--green);
  color: white;
}
button:hover:not(.active) {
  background-color: #ddd;
}
button.disabled-prev {
  color: #ddd;
}
button.disabled-next {
  color: #ddd;
}
</style>

<script>
export default {
  props: {
    onClick: {
      type: Function,
      default: function () { return }
    },
    currentPage: {
      type: Number,
      default: 1
    },
    totalPage: {
      type: Number,
      default: 1
    },
  }
}
</script>
