<template>
    <div class="dropdown">
        <Button class="btn-sm" id="option-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </Button>
        <div class="dropdown-menu dropdown-menu-right">
            <form>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="active-check" v-on:change="updateFn()" v-model="checkedFilters" value="active" checked>
                <label class="form-check-label" for="active-check">
                    ACTIVE
                </label>
            </div>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="delete-check" v-on:change="updateFn()" v-model="checkedFilters" value="deleted" checked>
                <label class="form-check-label" for="delete-check">
                    DELETE
                </label>
            </div>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="draft-check" v-on:change="updateFn()" v-model="checkedFilters" value="draft" checked>
                <label class="form-check-label" for="draft-check">
                    DRAFT
                </label>
            </div>
            </form>
        </div>
    </div>
</template>

<style>
    .form-check {
        margin-left: 5px;
    }

    .form-check-input {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .dropdown-menu-right .show {
        width: 0px;
    }
</style>

<script>
import Button from '../components/Button.vue'
export default {
    components: {
        Button
    },
    methods: {
        updateFn() {
            this.$emit('update-filter', this.checkedFilters)
        }
    },
    data: function () {
        return {
            checkedFilters: [] 
        }
    }
};
</script>
