<template>
  <div class="card" :id="id">
    <div class="card-img-left">
      <img class="card-img" :src="thumbnail" alt="Card image cap">
    </div>
    <div class="card-right">
      <div class="title-name" :title="title">
        <h5>{{ title }}</h5>
      </div>
      <div class="price" :price="price">
        <p>Setoran:<br>Rp. {{ price }} /bulan</p>
        <hr>
      </div>
      <div class="desc" :description="description">
        <h6>Deskripsi:</h6>
        <p>{{ description }}</p>
        <hr>
      </div>
      <div class="specs" :specs="specs">
        <h6>Spesifikasi:</h6>
        <p>{{ specs }}</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    id : {
      type: Number,
    },
    title : {
      type: String,
    },
    thumbnail : {
      type: String,
    },
    price : {
      type: String,
    },
    description : {
      type: String,
    },
    specs : {
      type: String,
    }
  }
}
</script>

<style>
.card {
  border-style: none;
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.title-name {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
}

.price {
  color: var(--orange);
}

.card-img {
  width: 100%;
}

.card-img-left {
  width: 15rem;
  height: 15rem;
  position: absolute;
  margin-left: 7%;
  margin-top: 3%;
}

.card-right {
  padding-left: 40%;
  position: relative;
}
</style>