<template>
  <div>
    <div v-for="(key,value) in prodByCategory" :key="value">
      <span class="category-tag collapsible" @click="collapse"><i class="fa fa-sort-down"></i> Kategori: {{value}} ({{key.length}})</span>
      <div :id='value' class="content">
        <div v-for="product in prodByCategory[value]" :key="product.code">
          <Container class="product-card" :id="product.id" :thumbnail="product.image" :title="product.name" :price="product.price.price_zone_A" status="draft"
          :dismiss="true" :editable="false" :clickFunct="funct"></Container>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Container from '~/components/Container.vue'
export default {
  components: {
    Container
  },
  props: {
    categories: {
      type: Array
    },
    funct: {
      type: Function
    }
  },
  computed: {
    prodByCategory () {
      const reducer = function (acc, {category, product}) {
        if (!(category in acc))
          acc[category] = []

        console.log(acc);
        acc[category].push(product)
        return acc
      }
      return this.categories.reduce(reducer, {})
    }
  },
  methods: {
    collapse (e) {
      var content = e.target.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    }
  }
}
</script>

<style>
.category-tag {
  padding: 10px 0;
}

.category-tag span {
  color: var(--color-bwhite2) !important;
}

.content {
  display: none;
}
</style>
