<template>
  <section>
    <div class="c-content">
      <div v-for="catalog in catalogs" v-bind:key="catalog.key">
        <CatalogCard :id="catalog.id" :title="catalog.name"></CatalogCard>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '~/components/Button.vue'
import CatalogCard from '~/components/CatalogCard.vue'
import Search from '~/components/Search.vue'
import axios from 'axios'

export default {
  layout: 'dashboard',
  fetch ({ store }) { return store.dispatch('catalog/GET_ALL_CATALOG', 0, 10) },
  components: {
    Button,
    CatalogCard,
    Search
  },
  computed: {
    catalogs () { return this.$store.state.catalog.list },
  }
}
</script>

<style>

.button-wrapper Button {
  width: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-bwhite);
  text-align: right;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 1px 8px 6px -6px #999;
  padding-top: 10px;
  padding-right: 145px;
}
</style>
