<template>
  <section>
    <div class="c-content">
        <div class="d-flex justify-content-end bd-highlight">
          <div class="p-2 bd-highlight">
            <product-filter @update-filter='filter($event)' />
          </div>
          <div class="p-2 bd-highlight">
            <Search @search-change="search($event)"></Search>
            <!-- <input @change="search" v-model="keyword"> -->
          </div>
        </div>
        <div class="d-flex flex-wrap">
            <div v-for="product in products" v-bind:key="product.key">
            <Container :id="product.id" :thumbnail="product.images" :title="product.name" :price="product.price.price_zone_A" :isActive="product.is_active" :isDeleted="product.is_deleted" :isDraft="product.is_draft" :checkbox="true"></Container>
            </div>
        </div>
        <Pagination class="pagination" :currentPage="currentPage" :totalPage="Math.ceil(hitCount/limit)" :onClick="changePage"/>
    </div>
    <div class="fakefooter" />
    <div class="footer">
        <div>
            <Dropup :setProducts="setProductsFn">SIMPAN</Dropup>
        </div>
    </div>
  </section>
</template>

<script>
import Dropup from '~/components/Dropup.vue'
import Container from '~/components/Container.vue'
import ProductFilter from '~/components/ProductFilter.vue'
import Search from '~/components/Search.vue'
import Pagination from '~/components/Pagination.vue'

export default {
  layout: 'dashboard',
  data() {
    return {
      selectedFile: []
    }
  },
  fetch ({ store }) { return store.dispatch('product/FETCH_ALL_PRODUCT') },
  components: {
    Dropup,
    Container,
    ProductFilter,
    Search,
    Pagination
  },
  computed: {
    products () { return this.$store.state.product.list },
    currentPage () { return this.$store.state.product.currentPage },
    hitCount () { return this.$store.state.product.hitCount },
    limit () { return this.$store.state.product.limit }

  },
  data: function() {
  	return {user: { name: '', age: 0 }}
  },
  methods: {
    setProductsFn() {
        return
    },
    handleData: function(e) {
      [this.user.name, this.user.age] = e;
    },
    filter(filters) {
      this.$store.dispatch('product/SET_DISPLAY_FILTERS', {filters: filters});
      this.$store.dispatch('product/FETCH_ALL_PRODUCT')
    }, 
    changePage(page) {
      this.$store.dispatch('product/SET_PAGINATION', {offset: (page-1)*this.$store.state.product.limit, page: page});
      this.$store.dispatch('product/FETCH_ALL_PRODUCT')
    },
    search(keyword) {
      this.$store.dispatch('product/SET_SEARCH_KEYWORD', {keyword: keyword});
      this.$store.dispatch('product/FETCH_ALL_PRODUCT')
    }
  }
}
</script>

<style>

.Dropup-wrapper Dropup {
  width: 300px;
}

</style>
